#root {
  font-size: 1.5vw;
}

.result {
  width: calc(24vw - 4px);
  margin: 1px 0 0 1px;
  height: 6vw;
  border: 1px solid lightgray;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 24vw;
  height: 50vh;
}

.buttons button {
  width: 6vw;
  height: 10vh;
  font-size: 1.5vw;
}

.body {
  display: flex;
  flex-direction: row;
  width: 18vw;
  height: 40vh;
  flex-wrap: wrap;
}

.body button:last-child {
  color: white;
  background-color: blue;
  font-weight: bold;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
